.card {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #CCCCCC;
	margin: 5px;
	color: #CCCCCC;
	user-select: none;
}

.card.selected {
	outline: solid red 2px;
	outline-offset: -2px;
	color: black;
}

.hidden {
	visibility: hidden;
}

